.CreatePostForm{
    max-width: 600px;
    margin: 0 auto;
    padding: 5px;
    display: flex;
    justify-content: center;
}
.Input{
    width: 100%;
    padding: 12px;
    margin-right: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
    border: 1px solid #ffffff;
    border-radius: 6px;
    font-size: 16px;
}
.Btn{
    width: 130%;
    padding: 12px;
    background: green;
    color: white;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 10px;
    margin-bottom: 10px
}